<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>compteur</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <center>
        <form action = "{% url 'affiche' %}">
        <div class="form-group purple-border">
            <label for="exampleFormControlTextarea4">Entrez votre texte ici : </label>
            <textarea class="form-control" name="texte" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </center>
</body>
</html>